
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-image:url(https://i.pinimg.com/originals/26/2f/21/262f21a40e2390fcba3d874f967e99d6.jpg);
  flex-direction: column;
  position: relative;
}

.trumpPic{
  height:150px;
  width:150px;
  border-radius: 50%;
}
#trumpImg{
  height: 80px;
  width:80px;
  border-radius: 50%;
}

h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
 
}

